body {
    background-color: skyblue; /* Changed background color to sky blue */
}

.container {
    background-color: #fff; /* White background for the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added shadow to the container */
    margin-top: 5em; /* Adjusted margin top */
    margin-bottom: 5em; /* Adjusted margin bottom */
}

.input-field {
    margin-bottom: 20px;
    position: relative;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Added shadow to input fields */
}

.pencil-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%; /* Made pencil button round */
}

.pencil-button img {
    width: 20px;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}